html {
  font-family: sans-serif;
}

h1, a {
  color: black;
  text-decoration: none;
}

header {
  padding: 10px;
  padding-bottom: 50px;
}

#menu {
  display:inline;
}

#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu li {
  margin: 0;
  padding: 20px;
  display: inline;
  font-weight: bold;
}

#menu #current_page {
  padding: 10px;
  border: 3px solid gray;
}

#ithaca {
  position: absolute;
  top:0px;
  right: 50px;
  width: 200px;
}

.titleHeading {
  text-align: center;
  font-weight: lighter;
}

#photoFormat {
  width: 300px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#activity{
  margin-top: 70px;
}

#firstAct{
  width: 30%;
  float:left;
  margin-left: 20px;
}

#secondAct {
  width: 30%;
  margin-left: 50px;
  float:left;
}

#schedule {
  margin-top: 50px;
  width: 30%;
  margin-left: 50px;
  float:left;
}

#waterfall{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 600px;
}

#trail1, #trail2 {
  float:left;
  display: block;
  margin-bottom: 30px;
  margin-left: 150px;
}

#text1,#text2{
  float:right;
  margin-right: 130px;
  width:50%;
}

#img1, #img2{
  width:300px;
  height: 180px;

}

#trailspace{
  margin-top: 60px;
}
