html {
  font-family: sans-serif;
}

h1, a {
  color: black;
  text-decoration: none;
}

header {
  padding: 10px;
  padding-bottom: 50px;
}

#menu {
  display:inline;
}

#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu li {
  margin: 0;
  padding: 20px;
  display: inline;
  font-weight: bold;
}

#menu #current_page {
  padding: 10px;
  border: 3px solid gray;
}

#ithaca {
  position: absolute;
  top:0px;
  right: 50px;
  width: 200px;
}

.titleHeading {
  text-align: center;
  font-weight: lighter;
}

#photoFormat {
  width: 300px;
  height: 300px;
  margin-top: 30px;
  margin-left: 90px;
  margin-bottom: 30px;
  text-align: center;
}

#activity{
  margin-top: 70px;
}

#firstAct{
  width: 30%;
  float:left;
  margin-left: 20px;
}

#secondAct {
  width: 30%;
  margin-left: 50px;
  float:left;
}

#schedule {

  width: 30%;
  margin-left: 50px;
  float:left;
}

#waterfall{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 600px;
}

#trail1, #trail2 {
  float:left;
  display: block;
  margin-bottom: 30px;
  margin-left: 150px;
}

#text1,#text2{
  float:right;
  margin-right: 130px;
  width:50%;
}

#img1{
  width:400px;
  height: 300px;
}

#img2{
  width:400px;
  height: 380px;
}

#trailspace{
  margin-top: 60px;
}

#hiking, #swimming {
  width: 360px;
  height: 300px;
}

table{
  border: 1px solid black;
}

th{
  font-size: 20px;
  text-align: left;
}

td{
  border-bottom: 1px solid black;
  padding: 10px;
}

.himages{
  border-radius: 50%;
  width: 80px;
  margin-left: 10px;
}

.activityimg{
  margin-bottom: 50px;
}

#indexbox{
  background-color: white;

  width: 250px;
  opacity: 0.55;
  padding-bottom:20px;
  padding-left: 30px;
  padding-right: 15px;
  padding-top: 10px;
  position: absolute;
  top: 600px;
  left: 100px;
}
